:root {
  --background: #101111;
  --white: #fff;
  --gray: #565656;
  --main-change-it: #638596;
  --secondary-change-it: #c4ebff;
  --font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #101111;
}

nav .nav-container {
  max-width: 1300px;
  margin: auto;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-container .nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .nav-container .nav-left ul {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 30px;
  list-style: none;
}
nav .nav-container .nav-left ul li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: rgba(255, 255, 255, 0.75);
}
nav .nav-container .nav-left ul li button {
  border-radius: 100px;
  width: 183px;
  height: 47px;
  background: rgba(99, 133, 150, 0.5);
  border: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-change-it);
  cursor: pointer;
}
nav .nav-container .nav-left .social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav .nav-container .nav-left .social-icons a {
  text-decoration: none;
}

.home .home-container {
  max-width: 1300px;
  margin: auto;
}
.home .home-container .welcome-text-box {
  margin-top: 170px;
  margin-bottom: 200px;
}
.home .home-container .welcome-text-box h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 177%;
  text-align: center;
  color: var(--white);
  margin-bottom: 25px;
}
.home .home-container .welcome-text-box h1 span {
  font-weight: 700;
}
.home .home-container .welcome-text-box p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 155%;
  text-align: center;
  color: var(--white);
  margin-bottom: 30px;
}
.home .home-container .welcome-text-box button {
  font-family: var(--font-family);
  border-radius: 100px;
  padding: 13px 40px 14px 38px;
  width: 165px;
  font-weight: 400;
  height: 59px;
  background: #fff;
  margin: 0 auto;
  display: block;
}
.home .home-container .welcome-text-box button span {
  background-color: #fff;
  font-weight: 700;
}

.nft-card {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 160px;
}
.nft-card .card-container {
  max-width: 1500px;
  margin: auto;
  display: flex;
  gap: 25px;
}
.nft-card .card-container .card {
  width: 187px;
  height: 187px;
  border-radius: 20px;
  background-color: #c4ebff;
  overflow: hidden;
}

.featured {
  margin-bottom: 210px;
}
.featured .featured-container {
  max-width: 1300px;
  margin: auto;
}
.featured .featured-container h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  margin-bottom: 70px;
}
.featured .featured-container .cards {
  display: flex;
  justify-content: space-between;
}
.featured .featured-container .cards .featured-card .card {
  border: 1px solid var(--white);
  width: 400px;
  padding: 30px;
  border-radius: 28px 28px 0 0;
}
.featured .featured-container .cards .featured-card .card h2 {
  color: #fff;
  margin-bottom: 20px;
}
.featured .featured-container .cards .featured-card .card p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 152%;
  color: var(--white);
  margin-bottom: 20px;
}
.featured .featured-container .cards .featured-card .read {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 400px;
  border: 1px solid var(--white);
  border-radius: 0 0 28px 28px;
}
.featured .featured-container .cards .featured-card .read h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 105%;
  color: var(--white);
}

.about-collection {
  margin-bottom: 200px;
}
.about-collection .about-collection-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.about-collection .about-collection-container h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 53px;
  line-height: 126%;
  letter-spacing: -0.04em;
  color: var(--white);
}
.about-collection .about-collection-container .about-collection-right p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 155%;
  color: var(--white);
  margin-bottom: 50px;
}
.about-collection .about-collection-container .about-collection-right .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.about-collection .about-collection-container .about-collection-right .buttons button:nth-child(1) {
  border-radius: 100px;
  padding: 13px 40px 14px 39px;
  width: 178px;
  height: 59px;
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  line-height: 163%;
  text-align: center;
  color: var(--background);
}
.about-collection .about-collection-container .about-collection-right .buttons a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 155%;
  text-align: center;
  color: var(--white);
  text-decoration: none;
}

.auctions-punks {
  margin-bottom: 120px;
}
.auctions-punks .auctions-punks-container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
}
.auctions-punks .auctions-punks-container .auctions-punks-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.auctions-punks .auctions-punks-container .auctions-punks-left .auction-card {
  display: flex;
  align-items: center;
  width: 634px;
  height: 162px;
  padding: 35px;
  border-radius: 28px;
  border: 1px solid var(--gray);
  transition: 400ms;
}
.auctions-punks .auctions-punks-container .auctions-punks-left .auction-card h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  color: #fff;
}
.auctions-punks .auctions-punks-container .auctions-punks-left .auction-card:hover {
  transition: 400ms;
  background: #638596;
}

.largest-sales {
  border-radius: 25px 25px 0 0;
  background-color: #fff;
}
.largest-sales .largest-sales-container {
  max-width: 1300px;
  margin: auto;
}
.largest-sales .largest-sales-container .largest-sales-view-all {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.largest-sales .largest-sales-container .largest-sales-view-all h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 129%;
  letter-spacing: -0.04em;
  color: var(--background);
}
.largest-sales .largest-sales-container .largest-sales-view-all button {
  border: 1px solid rgba(16, 17, 17, 0.2);
  border-radius: 100px;
  width: 149px;
  height: 61px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  background: none;
}
.largest-sales .largest-sales-container .largest-sales-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.largest-sales .largest-sales-container .largest-sales-card .largest-card img {
  width: 400px;
  height: 400px;
}
.largest-sales .largest-sales-container .largest-sales-card .largest-card h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  color: var(--background);
}
.largest-sales .largest-sales-container .largest-sales-card .largest-card h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 155%;
  color: var(--background);
  margin-bottom: 15px;
}
.largest-sales .largest-sales-container .largest-sales-card .largest-card p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  color: var(--gray);
}
.largest-sales .largest-sales-container .largest-swiper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.largest-sales .largest-sales-container .largest-swiper button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(16, 17, 17, 0.2);
  border-radius: 65px;
  width: 65px;
  height: 65px;
  background: none;
}/*# sourceMappingURL=main.css.map */